{
  "openapi": "3.0.3",
  "info": {
    "title": "Smartpossupply API",
    "description": "Smartpossupply API documentation",
    "contact": {},
    "license": {
      "name": "unlicensed"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api-devsupply.smartpos.uz",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "mobile-account-resource",
      "description": "Mobile Account Resource"
    },
    {
      "name": "mobile-category-resource",
      "description": "Mobile Category Resource"
    },
    {
      "name": "mobile-contract-resource",
      "description": "Mobile Contract Resource"
    },
    {
      "name": "mobile-customer-resource",
      "description": "Mobile Customer Resource"
    },
    {
      "name": "mobile-dashboard-resource",
      "description": "Mobile Dashboard Resource"
    },
    {
      "name": "mobile-order-resource",
      "description": "Mobile Order Resource"
    },
    {
      "name": "mobile-product-resource",
      "description": "Mobile Product Resource"
    },
    {
      "name": "one-c-integration-resource",
      "description": "One C Integration Resource"
    },
    {
      "name": "public-order-resource",
      "description": "Public Order Resource"
    },
    {
      "name": "quote-resource",
      "description": "Quote Resource"
    },
    {
      "name": "swagger-resource",
      "description": "Swagger Resource"
    }
  ],
  "paths": {
    "/api/mobile/v1/account/change-password": {
      "put": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Change Password",
        "operationId": "changePasswordUsingPUT_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/current": {
      "get": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Current User",
        "operationId": "getCurrentUserUsingGET_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/login": {
      "post": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Login",
        "operationId": "loginUsingPOST_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CabinetLoginDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/logout": {
      "get": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Logout",
        "operationId": "logoutUsingGET_2",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/photo": {
      "delete": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Remove Photo",
        "operationId": "removePhotoUsingDELETE",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/mobile/v1/account/reset-password/check": {
      "post": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Reset Password Check",
        "operationId": "resetPasswordCheckUsingPOST_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/reset-password/finish": {
      "post": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Reset Password Check",
        "operationId": "resetPasswordCheckUsingPOST_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordFinishDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/reset-password/init": {
      "post": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Reset Password",
        "operationId": "resetPasswordUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/account/upload/photo": {
      "post": {
        "tags": [
          "mobile-account-resource"
        ],
        "summary": "Upload Photo",
        "operationId": "uploadLogoUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/categories/tree": {
      "get": {
        "tags": [
          "mobile-category-resource"
        ],
        "summary": "Tree List",
        "operationId": "treeListUsingGET_2",
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "District Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderedSortBy.sorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderedSortBy.unsorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Region Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Supplier Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "description": "TIN",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Warehouse Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryTreeDTO"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/contracts/lookup": {
      "get": {
        "tags": [
          "mobile-contract-resource"
        ],
        "summary": "Look Up",
        "operationId": "lookUpUsingGET_31",
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerTin",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "District Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderedSortBy.sorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderedSortBy.unsorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Region Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Supplier Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "supplierTin",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "description": "TIN",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Warehouse Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractLookUpDTO"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/customers": {
      "get": {
        "tags": [
          "mobile-customer-resource"
        ],
        "summary": "List",
        "operationId": "getListUsingGET_43",
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "District Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderedSortBy.sorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderedSortBy.unsorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Region Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Supplier Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "description": "TIN",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Warehouse Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfCustomerListMobileDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "mobile-customer-resource"
        ],
        "summary": "Create",
        "operationId": "createUsingPOST_39",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/customers/check/{tin}": {
      "get": {
        "tags": [
          "mobile-customer-resource"
        ],
        "summary": "Check",
        "operationId": "checkTinUsingGET_6",
        "parameters": [
          {
            "name": "tin",
            "in": "path",
            "description": "tin",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CheckTinResultDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/customers/{id}": {
      "get": {
        "tags": [
          "mobile-customer-resource"
        ],
        "summary": "Get",
        "operationId": "getUsingGET_41",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "mobile-customer-resource"
        ],
        "summary": "Update",
        "operationId": "updateUsingPUT_34",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/dashboard/order-statistics": {
      "get": {
        "tags": [
          "mobile-dashboard-resource"
        ],
        "summary": "getOrderStatistics",
        "operationId": "getOrderStatisticsUsingGET",
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "District Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderedSortBy.sorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderedSortBy.unsorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Region Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Supplier Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "description": "TIN",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Warehouse Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MobileOrderStatisticsDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/orders": {
      "get": {
        "tags": [
          "mobile-order-resource"
        ],
        "summary": "getList",
        "operationId": "getListUsingGET_44",
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "District Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderedSortBy.sorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderedSortBy.unsorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Region Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Supplier Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "description": "TIN",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "used",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Warehouse Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfMobileOrderListDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/orders/{id}": {
      "get": {
        "tags": [
          "mobile-order-resource"
        ],
        "summary": "get",
        "operationId": "getUsingGET_42",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MobileOrderDetailDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "mobile-order-resource"
        ],
        "summary": "update",
        "operationId": "updateUsingPUT_35",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileOrderDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MobileOrderDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/products": {
      "get": {
        "tags": [
          "mobile-product-resource"
        ],
        "summary": "List",
        "operationId": "getListUsingGET_45",
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Category Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "District Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "favourite",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderedSortBy.sorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderedSortBy.unsorted",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "productType",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Region Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "description": "Supplier Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tin",
            "in": "query",
            "description": "TIN",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateProductType",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Warehouse Id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfProductListMobileDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/mobile/v1/products/{id}": {
      "get": {
        "tags": [
          "mobile-product-resource"
        ],
        "summary": "Get",
        "operationId": "getUsingGET_43",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailMobileDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActDTO": {
        "title": "ActDTO",
        "type": "object",
        "properties": {
          "actDate": {
            "type": "string",
            "format": "date-time"
          },
          "actNo": {
            "type": "string"
          },
          "actProductId": {
            "type": "string"
          },
          "buyerBranchCode": {
            "type": "string"
          },
          "buyerBranchName": {
            "type": "string"
          },
          "buyerName": {
            "type": "string"
          },
          "buyerTin": {
            "pattern": "[0-9]{9,14}",
            "type": "string"
          },
          "contractDate": {
            "type": "string",
            "format": "date-time"
          },
          "contractNo": {
            "type": "string"
          },
          "facturaActId": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "notes": {
            "type": "string"
          },
          "productList": {
            "$ref": "#/components/schemas/ActProductListDTO"
          },
          "sellerBranchCode": {
            "type": "string"
          },
          "sellerBranchName": {
            "type": "string"
          },
          "sellerName": {
            "type": "string"
          },
          "sellerTin": {
            "pattern": "[0-9]{9,14}",
            "type": "string"
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/States"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "CANCELLED",
              "CUSTOMER_ACCEPTED",
              "CUSTOMER_REJECTED",
              "DRAFT",
              "SENT_TO_CUSTOMER"
            ]
          }
        }
      },
      "ActDoc": {
        "title": "ActDoc",
        "type": "object",
        "properties": {
          "actDate": {
            "type": "string",
            "format": "date-time"
          },
          "actNo": {
            "type": "string"
          },
          "actText": {
            "type": "string"
          }
        }
      },
      "ActProductListDTO": {
        "title": "ActProductListDTO",
        "type": "object",
        "properties": {
          "actProductId": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "products": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActProductsDTO"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "tin": {
            "pattern": "[0-9]{9,14}",
            "type": "string"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ActProductsDTO": {
        "title": "ActProductsDTO",
        "type": "object",
        "properties": {
          "actProductId": {
            "type": "string"
          },
          "catalogCode": {
            "type": "string"
          },
          "catalogName": {
            "type": "string"
          },
          "count": {
            "type": "number",
            "format": "bigdecimal"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "measureId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ordNo": {
            "type": "integer",
            "format": "int32"
          },
          "summa": {
            "type": "number",
            "format": "bigdecimal"
          },
          "totalSum": {
            "type": "number",
            "format": "bigdecimal"
          }
        }
      },
      "ActSendDto": {
        "title": "ActSendDto",
        "type": "object",
        "properties": {
          "actId": {
            "type": "string",
            "description": "ID ТТН, которую требуется отменить",
            "example": "string"
          },
          "action": {
            "type": "string",
            "description": "для принятия - accept , для отклонения - reject",
            "example": "string"
          },
          "clientIp": {
            "type": "string",
            "description": "IP-адрес клиента",
            "example": "string"
          },
          "notes": {
            "type": "string",
            "description": "комментарий в случае отклонения ТТН",
            "example": "string"
          },
          "sign": {
            "type": "string",
            "description": "подписанный JSON",
            "example": "string"
          }
        }
      },
      "ActivateDTO": {
        "title": "ActivateDTO",
        "required": [
          "activationCode",
          "phone"
        ],
        "type": "object",
        "properties": {
          "activationCode": {
            "maxLength": 6,
            "minLength": 6,
            "type": "string"
          },
          "phone": {
            "pattern": "^998[\\d]{9}$",
            "type": "string"
          }
        }
      },
      "ActivityTypeDTO": {
        "title": "ActivityTypeDTO",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "parentId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AddressDTO": {
        "title": "AddressDTO",
        "type": "object",
        "properties": {
          "apartment": {
            "type": "string"
          },
          "districtId": {
            "type": "integer",
            "format": "int64"
          },
          "house": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "regionId": {
            "type": "integer",
            "format": "int64"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "AddressDetailDTO": {
        "title": "AddressDetailDTO",
        "type": "object",
        "properties": {
          "apartment": {
            "type": "string"
          },
          "district": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "house": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "AdjustmentReason": {
        "title": "AdjustmentReason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AdjustmentRejectReason": {
        "title": "AdjustmentRejectReason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AdjustmentStatusUpdateDTO": {
        "title": "AdjustmentStatusUpdateDTO",
        "type": "object",
        "properties": {
          "otherReason": {
            "type": "string"
          },
          "reason": {
            "$ref": "#/components/schemas/AdjustmentRejectReason"
          },
          "status": {
            "$ref": "#/components/schemas/StockAdjustmentStatus"
          }
        }
      },
      "AdminLoginDTO": {
        "title": "AdminLoginDTO",
        "required": [
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "password": {
            "maxLength": 100,
            "minLength": 4,
            "type": "string"
          },
          "rememberMe": {
            "type": "boolean"
          },
          "username": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "AggregationBlockDetailDTO": {
        "title": "AggregationBlockDetailDTO",
        "type": "object",
        "properties": {
          "childProduct": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "marks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "printCode": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AggregationBlockListDTO": {
        "title": "AggregationBlockListDTO",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "creator": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "printCode": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "$ref": "#/components/schemas/AggregationStatus"
          }
        }
      },
      "AggregationDTO": {
        "title": "AggregationDTO",
        "type": "object",
        "properties": {
          "childProductId": {
            "type": "integer",
            "format": "int64"
          },
          "marks": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "printCode": {
            "type": "string"
          },
          "productId": {
            "type": "integer",
            "format": "int64"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AggregationDetailDTO": {
        "title": "AggregationDetailDTO",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "marks": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "printCode": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          },
          "reportId": {
            "type": "string"
          },
          "stock": {
            "$ref": "#/components/schemas/CommonDTO"
          }
        }
      },
      "AggregationHistoryListDTO": {
        "title": "AggregationHistoryListDTO",
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "COPY",
              "CREATE",
              "DELETE",
              "UPDATE"
            ]
          },
          "code": {
            "type": "string"
          },
          "codeType": {
            "type": "string"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "creator": {
            "type": "string"
          },
          "entityId": {
            "type": "integer",
            "format": "int64"
          },
          "entityType": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "product": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "transferType": {
            "type": "string"
          }
        }
      },
      "AggregationListDTO": {
        "title": "AggregationListDTO",
        "type": "object",
        "properties": {
          "aggregationDate": {
            "type": "string",
            "format": "date-time"
          },
          "code": {
            "type": "string"
          },
          "creator": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "printCode": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "$ref": "#/components/schemas/AggregationStatus"
          },
          "stock": {
            "$ref": "#/components/schemas/CommonDTO"
          }
        }
      },
      "AggregationOrderDTO": {
        "title": "AggregationOrderDTO",
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AggregationOrderDetailDTO": {
        "title": "AggregationOrderDetailDTO",
        "type": "object",
        "properties": {
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "orderNumber": {
            "type": "string"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          },
          "used": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AggregationOrderListDTO": {
        "title": "AggregationOrderListDTO",
        "type": "object",
        "properties": {
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "orderNumber": {
            "type": "string"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "qty": {
            "type": "integer",
            "format": "int32"
          },
          "unused": {
            "type": "integer",
            "format": "int32"
          },
          "used": {
            "type": "number",
            "format": "biginteger"
          }
        }
      },
      "AggregationStatisticsDTO": {
        "title": "AggregationStatisticsDTO",
        "type": "object",
        "properties": {
          "createdTotal": {
            "type": "integer",
            "format": "int64"
          },
          "draftTotal": {
            "type": "integer",
            "format": "int64"
          },
          "emptyTotal": {
            "type": "integer",
            "format": "int64"
          },
          "errorTotal": {
            "type": "integer",
            "format": "int64"
          },
          "returnedTotal": {
            "type": "integer",
            "format": "int64"
          },
          "shippedTotal": {
            "type": "integer",
            "format": "int64"
          },
          "utilizedTotal": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AggregationStatus": {
        "title": "AggregationStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AggregationValidationDTO": {
        "title": "AggregationValidationDTO",
        "type": "object",
        "properties": {
          "barcode": {
            "type": "string"
          },
          "checkAslBelgi": {
            "type": "boolean"
          },
          "child": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          }
        }
      },
      "AgreementDTO": {
        "title": "AgreementDTO",
        "type": "object",
        "properties": {
          "agreementNumber": {
            "type": "string"
          },
          "availability": {
            "type": "integer",
            "format": "int32"
          },
          "operatorId": {
            "type": "string"
          },
          "operatorName": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/AgreementStatus"
          }
        }
      },
      "AgreementInstancesDTO": {
        "title": "AgreementInstancesDTO",
        "type": "object",
        "properties": {
          "attachments": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingAttachmentDTO"
            }
          },
          "branches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BranchJson"
            }
          },
          "description": {
            "type": "string"
          },
          "instances": {
            "type": "integer",
            "format": "int32"
          },
          "serviceType": {
            "type": "string"
          },
          "xizmatId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AgreementManagerRequestDTO": {
        "title": "AgreementManagerRequestDTO",
        "type": "object",
        "properties": {
          "managerFirstName": {
            "type": "string"
          },
          "managerId": {
            "type": "string"
          },
          "managerLastName": {
            "type": "string"
          },
          "managerLogin": {
            "type": "string"
          },
          "managerPatronymic": {
            "type": "string"
          },
          "tinPinfl": {
            "type": "string"
          }
        }
      },
      "AgreementStatus": {
        "title": "AgreementStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "nameRu": {
            "type": "string"
          },
          "nameUzCyrillic": {
            "type": "string"
          },
          "nameUzLatin": {
            "type": "string"
          },
          "selectable": {
            "type": "boolean"
          }
        }
      },
      "ApayApplicationStatusDTO": {
        "title": "ApayApplicationStatusDTO",
        "required": [
          "id",
          "status"
        ],
        "type": "object",
        "properties": {
          "fiscalNumber": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ApplicationStatus"
          }
        }
      },
      "ApayCompanyBranchesRegisterDTO": {
        "title": "ApayCompanyBranchesRegisterDTO",
        "type": "object",
        "properties": {
          "branchIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "ApayCompanyPaymentTypeDTO": {
        "title": "ApayCompanyPaymentTypeDTO",
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "tin": {
            "type": "string"
          }
        }
      },
      "ApayRegisterDTO": {
        "title": "ApayRegisterDTO",
        "type": "object",
        "properties": {
          "applicationFileId": {
            "type": "string"
          },
          "cadastreFileId": {
            "type": "string"
          }
        }
      },
      "AppType": {
        "title": "AppType",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "ApplicationStatus": {
        "title": "ApplicationStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "description": "Статус ОФД"
      },
      "AslBelgiTokenDTO": {
        "title": "AslBelgiTokenDTO",
        "type": "object",
        "properties": {
          "tin": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "AuthKey": {
        "title": "AuthKey",
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          }
        }
      },
      "BankDTO": {
        "title": "BankDTO",
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "mfo": {
            "type": "string"
          },
          "oked": {
            "type": "string"
          }
        }
      },
      "BankDetailDTO": {
        "title": "BankDetailDTO",
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "mfo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "oked": {
            "type": "string"
          }
        }
      },
      "BankLookUpDTO": {
        "title": "BankLookUpDTO",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "mfo": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BatchValidationDTO": {
        "title": "BatchValidationDTO",
        "type": "object",
        "properties": {
          "aggregationCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "markCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "productType": {
            "$ref": "#/components/schemas/ProductTypeReq"
          },
          "token": {
            "type": "string"
          },
          "transportCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BillingAttachmentDTO": {
        "title": "BillingAttachmentDTO",
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "fileName": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "originalFileName": {
            "type": "string"
          },
          "relatedTo": {
            "type": "string",
            "enum": [
              "BRANCH",
              "CATEGORY",
              "COMPANY",
              "CONTRACT",
              "INVOICE_PAYMENT",
              "MANUFACTURER",
              "POWER_OF_ATTORNEY",
              "PRODUCT",
              "PROMOTION",
              "PURCHASE_ORDER",
              "TELEGRAM_ACCOUNT",
              "TEMPLATE",
              "USER"
            ]
          },
          "relatedToId": {
            "type": "string"
          },
          "temp": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "BillingCategoryTreeDto": {
        "title": "BillingCategoryTreeDto",
        "type": "object",
        "properties": {
          "appType": {
            "$ref": "#/components/schemas/AppType"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingCategoryTreeDto"
            }
          },
          "code": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "nameRu": {
            "type": "string"
          },
          "nameUzCyrillic": {
            "type": "string"
          },
          "nameUzLatin": {
            "type": "string"
          },
          "parentId": {
            "type": "string"
          },
          "selectable": {
            "type": "boolean"
          }
        }
      },
      "BillingContractStatus": {
        "title": "BillingContractStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "nameRu": {
            "type": "string"
          },
          "nameUzCyrillic": {
            "type": "string"
          },
          "nameUzLatin": {
            "type": "string"
          }
        }
      },
      "BillingCustomerDTO": {
        "title": "BillingCustomerDTO",
        "required": [
          "ctoId",
          "inn",
          "name"
        ],
        "type": "object",
        "properties": {
          "ctoId": {
            "type": "integer",
            "format": "int64"
          },
          "inn": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "terminalCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BillingSyncDTO": {
        "title": "BillingSyncDTO",
        "required": [
          "serviceType",
          "tin"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "bigdecimal"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "noteFromExternalSystem": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "tin": {
            "type": "string"
          },
          "unitCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BranchDTO": {
        "title": "BranchDTO",
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/AddressDTO"
          },
          "companyId": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "ownerId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "$ref": "#/components/schemas/BranchType"
          }
        }
      },
      "BranchDetailDTO": {
        "title": "BranchDetailDTO",
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/AddressDetailDTO"
          },
          "company": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "main": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/OwnerDTO"
          },
          "type": {
            "$ref": "#/components/schemas/BranchType"
          }
        }
      },
      "BranchJson": {
        "title": "BranchJson",
        "type": "object"
      },
      "BranchListDTO": {
        "title": "BranchListDTO",
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/AddressDetailDTO"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyBaseDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "main": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/OwnerDTO"
          },
          "status": {
            "$ref": "#/components/schemas/BranchStatus"
          },
          "type": {
            "$ref": "#/components/schemas/BranchType"
          }
        }
      },
      "BranchStatus": {
        "title": "BranchStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BranchType": {
        "title": "BranchType",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BufferStatus": {
        "title": "BufferStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BusinessType": {
        "title": "BusinessType",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CabinetLoginDTO": {
        "title": "CabinetLoginDTO",
        "required": [
          "password",
          "phone"
        ],
        "type": "object",
        "properties": {
          "password": {
            "maxLength": 100,
            "minLength": 4,
            "type": "string"
          },
          "phone": {
            "pattern": "^998[\\d]{9}$",
            "type": "string"
          },
          "rememberMe": {
            "type": "boolean"
          }
        }
      },
      "CategoryDTO": {
        "title": "CategoryDTO",
        "type": "object",
        "properties": {
          "branchId": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "parentId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CategoryDetailDTO": {
        "title": "CategoryDetailDTO",
        "type": "object",
        "properties": {
          "branch": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "parent": {
            "$ref": "#/components/schemas/CommonDTO"
          }
        }
      },
      "CategoryListDTO": {
        "title": "CategoryListDTO",
        "type": "object",
        "properties": {
          "branch": {
            "$ref": "#/components/schemas/CommonDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "parent": {
            "$ref": "#/components/schemas/CommonDTO"
          }
        }
      },
      "CategoryStatus": {
        "title": "CategoryStatus",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CategoryTreeDTO": {
        "title": "CategoryTreeDTO",
        "type": "object",
        "properties": {
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryTreeDTO"
            }
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "parentId": {
            "type": "integer",
            "format": "int64"
          },
          "productCount": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "$ref": "#/components/schemas/CategoryStatus"
          }
        }
      },
      "ChangePasswordDTO": {
        "title": "ChangePasswordDTO",
        "type": "object",
        "properties": {
          "currentPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "CheckTinResultDTO": {
        "title": "CheckTinResultDTO",
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/AddressDetailDTO"
          },
          "bankDetail": {
            "$ref": "#/components/schemas/CompanyBankDetailDTO"
          },
          "businessType": {
            "$ref": "#/components/schemas/BusinessType"
          },
          "gcp": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "omsId": {
            "type": "string"
          },
          "ownerDTO": {
            "$ref": "#/components/schemas/OwnerDTO"
          },
          "phone": {
            "type": "string"
          },
          "tin": {
            "pattern": "[0-9]{9,14}",
            "type": "string"
          },
          "turonToken": {
            "type": "string"
          }
        }
      },
      "CheckedCodeDTO": {
        "title": "CheckedCodeDTO",
        "type": "object",
        "properties": {
          "checked": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "CisInfo": {
        "title": "CisInfo",
        "type": "object",
        "properties": {
          "brand": {
            "type": "string"
          },
          "child": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cis": {
            "type": "string"
          },
          "codes": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "entityId": {
            "type": "integer",
            "format": "int64"
          },
          "entityNumber": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "gtin": {
            "type": "string"
          },
          "originalCode": {
            "type": "string"
          },
          "ownerInn": {
            "type": "string"
          },
          "ownerName": {
            "type": "string"
          },
          "packageType": {
            "type": "string"
          },
          "parent": {
            "type": "string"
          },
          "producedDate": {
            "type": "string",
            "format": "date-time"
          },
          "producerInn": {
            "type": "string"
          },
          "producerName": {
            "type": "string"
          },
          "productGroup": {
            "type": "string"
          },
          "productGroupId": {
            "type": "integer",
            "format": "int32"
          },
          "productName": {
            "type": "string"
          },
          "requestedCis": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "APPLIED",
              "APPLIED_NOT_PAID",
              "DISAGGREGATED",
              "EMITTED",
              "ERROR",
              "EXPORTED",
              "INTRODUCED",
              "INTRODUCED_RETURNED",
              "RESERVED_NOT_USED",
              "WAIT_SHIPMENT",
              "WITHDRAWN",
              "WRITTEN_OFF"
            ]
          },
          "statusText": {
            "type": "string"
          }
        }
      },
      "CisInfoResponse": {
        "title": "CisInfoResponse",
        "type": "object",
        "properties": {
          "cisInfo": {
            "$ref": "#/components/schemas/CisInfo"
          }
        }
      },
      "CisInfoResponseResult": {
        "title": "CisInfoResponseResult",
        "type": "object",
        "properties": {
          "cisInfoResponses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CisInfoResponse"
            }
          }
        }
      },
      "CommonCodeDTO": {
        "title": "CommonCodeDTO",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CommonDTO": {
        "title": "CommonDTO",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CommonDateDTO": {
        "title": "CommonDateDTO",
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CommonStatisticsDTO": {
        "title": "CommonStatisticsDTO",
        "type": "object",
        "properties": {
          "activeTotal": {
            "type": "integer",
            "format": "int64"
          },
          "inActiveTotal": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CommonStockStatisticsDTO": {
        "title": "CommonStockStatisticsDTO",
        "type": "object",
        "properties": {
          "cancelledTotal": {
            "type": "integer",
            "format": "int64"
          },
          "checkingErrorTotal": {
            "type": "integer",
            "format": "int64"
          },
          "checkingTotal": {
            "type": "integer",
            "format": "int64"
          },
          "completedTotal": {
            "type": "integer",
            "format": "int64"
          },
          "draftTotal": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CompanyAggregationInfoDTO": {
        "title": "CompanyAggregationInfoDTO",
        "type": "object",
        "properties": {
          "aslBelgiToken": {
            "type": "string"
          },
          "aslBelgiTokenDate": {
            "type": "string",
            "format": "date-time"
          },
          "contactPerson": {
            "type": "string"
          },
          "factoryCountry": {
            "type": "string"
          },
          "factoryId": {
            "type": "string"
          },
          "gcp": {
            "type": "string"
          },
          "omsId": {
            "type": "string"
          },
          "turonToken": {
            "type": "string"
          }
        }
      },
      "CompanyApayInfoDTO": {
        "title": "CompanyApayInfoDTO",
        "type": "object",
        "properties": {
          "apayId": {
            "type": "string"
          },
          "applicationFileId": {
            "type": "string"
          },
          "applicationStatus": {
            "$ref": "#/components/schemas/ApplicationStatus"
          },
          "cadastreFileId": {
            "type": "string"
          },
          "fiscalNumber": {
            "type": "string"
          }
        }
      },
      "CompanyBankDTO": {
        "title": "CompanyBankDTO",
        "required": [
          "accountNumber",
          "bankId",
          "oked"
        ],
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "bankId": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "main": {
            "type": "boolean"
          },
          "oked": {
            "type": "string"
          }
        }
      },
      "CompanyBankDetailDTO": {
        "title": "CompanyBankDetailDTO",
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "bank": {
            "$ref": "#/components/schemas/BankLookUpDTO"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "main": {
            "type": "boolean"
          },
          "oked": {
            "type": "string"
          },
          "parentBank": {
            "$ref": "#/components/schemas/BankLookUpDTO"
          }
        }
      },
      "CompanyBaseDTO": {
        "title": "CompanyBaseDTO",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "tin": {
            "pattern": "[0-9]{9,14}",
            "type": "string"
          }
        }
      },
      "CompanyCheckDTO": {
        "title": "CompanyCheckDTO",
        "type": "object",
        "properties": {
          "account": {
            "type": "string"
          },
          "accountant": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "branchName": {
            "type": "string"
          },
          "branchNum": {
            "type": "string"
          },
          "director": {
            "type": "string"
          },
          "directorTin": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "mfo": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
[...]
